<div class="card__reported">
  <span class="txt-uppercase">Reported</span>
  <%= avatar_tag bubble.creator, loading: :lazy, class: "avatar" %>
</div>

<div class="card__assignees">
  <span class="txt-uppercase">Assigned</span>

  <%= render "bubbles/assignees", bubble: bubble %>
</div>
