<section class="terminal__help shadow" aria-labelledby="help-menu-title">
  <h2 id="help-menu-title"><strong>Fizzy do > Help</strong></h2>
  <dl>
    <h3>Search</h3>
    <dt>Type keywords to search cards and comments</dt>
    <dd>"CSS bug"</dd>

    <h3>Navigate</h3>
    <dt>Type a card ID to go to it</dt>
    <dd>"137"</dd>
    <dt>Type a name to see someone’s profile</dt>
    <dd>"@jason"</dd>

    <h3>Filter</h3>
    <dt>Type card IDs to isolate them</dt>
    <dd>"131, 137, 39"</dd>
    <dt>Type a tag to see just tagged cards</dt>
    <dd>"#design"</dd>

    <h3>Commands</h3>
    <dt>Type / to issue commands</dt>
    <dd>"/move to Doing"</dd>

    <dt>Type @ to match people</dt>
    <dd>"/assign to @jason"</dd>

    <dt>Type # to match tags</dt>
    <dd>"/tag this #design"</dd>

    <h3>Tips</h3>
    <dt>Combine for powerful actions</dt>
    <dd>"/move to Doing and /assign to @jason"</dd>

    <dt>Or use natural language</dt>
    <dd>"Show cards added by Jason this month"</dd>
  </dl>
</section>
